/* fonts */
@import url('non.geist');

body {
  font-family: 'Geist Variable';
}


.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* nav bar css starts */
.logo{
  display: flex;
}
.logolink{
  text-decoration: none;
  color: white;
  font-size: 13px;
}
.logo img{
  width: 30px;
  height: 30px;
}
nav {
  background-color: white;
  margin: 0px 0px 0px 0px;
  padding:  10px 0px 10px 0px;
  width: 100%;
 
}
nav ul {
  display: flex;
  justify-content: center;
  justify-content: baseline;
  margin: 5px 0px;
  padding: 5px 0px;
  background-color: #84cc16;
  
}
nav ul li{
  list-style-type: none;
  padding: 0px 20px;
}
nav ul li .navlink{
  text-decoration: none;
  color: black;
  font-size: 11px;
}

/* nav bar css ends */
.bg{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
 height: 80vh;
  margin: 10px 0px;
  padding: 10px 0px;
}
.bg2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;

  margin: 10px 0px;
  padding: 10px 0px;
}

.PaginationContainer{
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}



.productlist{
  display: flex;
  flex-direction: column;
  justify-content:start;
  width: 100%;
  height: 100%;

}
.productlist2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 100%;
  margin:0px 10px;
  padding:10px 10px 8px 10px;
  border: 1px solid #eeeeee;
  border-radius: 3px;
}
.searchbar{
  font-size: 10px;
  padding: 0px 10px;
}
.searchfield{
  width: 170px;
  height: 15px;
  border: 1px;
  outline: none;
  padding: 2px 2px;
  font-size: 10px;
  border-radius: 2px;
  background-color: #eeeeee;
}
.pagination{
  display: flex;
  justify-content: space-between;
  padding: 7px 10px;
}
.pagebutton{
  margin: 0px;
  padding: 0px;
  width: 35px;
  height: 18px;
  border-radius: 5px;
  border: 0px;
  font-size: 9px;
  background-color: #84cc16;
  font-weight: bold;
  color: white;
}

/* product list end here */

/* description container starts here */

.productdescription{
  width: 50%;
  height: 70% ;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  margin: 0px 30px;
}
.prodtitle{
  display: flex;
  flex-direction: column;
  height: 10%;
  margin: 0px;
  padding: 20px;
  background-color: #84cc16;
  color: white;
}
.prodtitle1{
  font-size: 20px;
  font-weight: bold;
  padding: 3px;

}
.prodtitle2{
  font-size: 10px;
  font-weight: 500;
  padding: 3px;
  
}
.prodsummary{
  height: 15%;
  padding: 15px;
  font-size: 10px;
  border-top:1px solid #eeeeee ;
}
.prodprocedure{
  border-top: 1px solid #eeeeee;
  height: 20%;
  padding: 15px;
  font-size: 10px;
  font-weight: 400;
}
.prodprocedure p{
  margin: 0px;
  padding: 2px 0px;
}

.prodprocedure ul li{
  font-weight: 500;
}
.proddetails{
  height: 25%;
  display: flex;

}
.proddetails1{
  display: flex;
  border-top: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 20px;
  width: 60%;
  font-size: 10px;

}
.data{
  font-size: 8px;
  color: #525252;
}
.proddetails2{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.addbutton2{
  margin: 0px;
  padding: 0px;
  width: 60px;
  height: 25px;
  border-radius: 2px;
  border: 0px;
  font-size: 9px;
  background-color: #84cc16;
  font-weight: bold;
  color: white;
}


/* description card start here */




/* product card css starts*/
.productcard{
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #eeeeee;
  padding: 5px 0px;
}
.productcard p{
  margin: 0px;
  

}
.productcardone{
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  font-weight: bold;
  padding: 5px 10px;
  margin: 0px;
}
.productcardtwo{
  display:flex;
  justify-content: first baseline;
  padding: 0px 10px;
  margin: 0px;
  font-size: 8px;

}
.productcardthree{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  font-size: 10px;
}
.addbutton{
  margin: 0px;
  padding: 0px;
  width: 35px;
  height: 18px;
  border-radius: 5px;
  border: 0px;
  font-size: 9px;
  background-color: #84cc16;
  font-weight: bold;
  color: white;
}
/* prodcuts card ends */

/* cart page css starts */

.cartlistcontainer{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.cartlist{
  width: 80%;
  height: 70%;
  margin: 10px;
  border: 1px solid #eeeeee;  
  border-radius: 5px;
}
.cartlistheading{
  font-size: 10px;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  background-color: #84cc16;
}
.cartlistback{
  display: flex;
  justify-content: end;
  padding: 0px 30px;
  
}
.cartlisttitles{
  font-weight: 600;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
}
.cartlistitems{
  width: 100%;
  height: 80%;
}

.cartlistitem{
  
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  padding: 5px 30px;
  border-bottom:1px solid #eeeeee;
}
.cartitemid{
  width: 5%;
}
.cartitemname{
  width: 25%;
}
.cartitemfield{
width: 10%;
}
.cartitemdropdown{
  width: 40px;
  height: 18px;
  outline: none;
}
.cartitemquant{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:15%;
}
.incbutton{
  border: 1px solid black;
  border-radius:10px;
  width: 20px;
  height: 20px;
}
.decbutton{
  border: 1px solid black;
  border-radius:10px;
  width: 20px;
  height: 20px;

}

.cartitemdeletebutton{
  font-size: 10px;
  border: none;
  background-color: white;
  text-decoration: underline;
  color: black;
}
.checkoutcontainer{
  width:30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout{
  font-size: 12px;
  width: 70%;
  height: 70%;
  margin: 10px;
  display: flex;
  flex-direction: column;

}
.summarydetailstitle{
  display: flex;
  justify-content: center;
  padding: 15px 10px;
  align-items: center;
  font-size: 16px;
  border-bottom: 1px solid #eeeeee;
  font-weight: bold;
}
.summarydetails{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.summarydetails input{
  outline: none;
  background-color: #eeeeee;
  width: 100px;
  border: none;
  height: 13px;
}
.summarydetailstotal{
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  border-top: 1px solid #eeeeee;
}
.summarydetailscheckoutbutton{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
.summarydetailscheckoutbutton button{
  margin: 0px;
  padding: 0px 0px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 0px;
  font-size: 9px;
  background-color: #84cc16;
  font-weight: bold;
  color: white;
}


/* orders css starts */

.orderscontianer{
  width: 40%;
  display: flex;
  flex-direction: column;
  
}
.singleorder{
  margin: 10px 0px;
}
.ordersheading{
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  height: 17%;
  width: 100%;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  
}
.ordersdate{
  font-size: 8px;
  padding: 3px 10px;
  border-bottom: 1px solid #eeeeee;
  background-color: #f7f7f7;
  color: black;

}
.ordersdetails{

  font-size: 8px;
  gap: 20px;
  padding: 3px 10px;
  display: flex;
  justify-content: first baseline;
}
.ordersdeatilsheading{
  background-color: #84cc16;
  color: white;
  font-weight: 500;
  font-size: 10px;
  padding: 3px 10px;
  display: flex;
  justify-content: space-around;
}
.orders{
  width: 100%;

  display: flex;
  flex-direction: column;
  border: 1px solid #eeeeee;
}
.order{
  font-size: 8px;
  padding: 5px 5px;
  display: flex;
  justify-content: space-around;
}

/* account css start here */
.accountcontainer{
display: flex;
width: 80%;
height: 100%;
}
.subnav{
  display: flex;
  width: 30%;

  
}
.accountdetails{
  display: flex;
  flex-direction: column;
  width: 70%;

}
.personaldetails{
  display: flex;
  flex-direction: column;
}
.personaldetailsname{
  padding: 10px 10px;
  display: flex;
  justify-content:space-between;
}
.personaldetailsage{
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
 
}
.personaldetailsage2{
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
}
.personaldetailsaddress{
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.userdetails{
  display: flex;
  flex-direction: column;
}
.billingdetails{
  display: flex;
  flex-direction: column;
}
/* homepage */          

.homelayout{
  display: flex;
  justify-content: space-evenly;
}
.quote{
  display: flex;
  flex-direction: column;
}
.lineone{
  display: flex;
  font-size: 100px;
  font-weight: bold;
  height: 80px;
}
.lineone2{
  font-size: 50px;
  font-weight: 500;
  
}
.linetwo{
  font-size: 100px;
  font-weight: 400;
  height: 100px;
}
.linethree{
  font-size: 13px;
  font-weight: 300;
  padding: 0px 5px;
}
@media (prefers-reduced-motion: no-preference) {
  
}
