.App{
  display: flex;

}
.logo{
  display: flex;
}
.logo .logolink{
  text-decoration: none;
  color: black;
}
.logo img{
  width: 30px;
  height: 30px;
}
nav {
  background-color: aliceblue;
  width: 100px;
  height: 100vh;
  margin: 0px 0px 0px 0px;
  padding:  10px 20px 10px 40px;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  margin: 0px;
  padding: 0px;
}
nav ul li{
  list-style-type: none;
}
nav ul li .navlink{
  text-decoration: none;
  color: black;
  font-size: 12px;
}



@media (prefers-reduced-motion: no-preference) {
  
}
