/* fonts */
@import url('non.geist');

body {
  font-family: 'Geist Variable';
}


.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* nav bar css starts */
.logo{
  display: flex;
}
.logolink{
  text-decoration: none;
  color: white;
  font-size: 13px;
}
.logo img{
  width: 30px;
  height: 30px;
}
nav {
  background-color: white;
  margin: 0px 0px 0px 0px;
  padding:  10px 0px 10px 0px;
  width: 100%;
 
}
nav ul {
  display: flex;
  justify-content: center;
  justify-content: baseline;
  margin: 5px 0px;
  padding: 5px 0px;
  background-color: #84cc16;
  
}
nav ul li{
  list-style-type: none;
  padding: 0px 20px;
}
nav ul li .navlink{
  text-decoration: none;
  color: black;
  font-size: 11px;
}

/* nav bar css ends */
.bg{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 80vh;
}

/* products page css start */
.productsContainer{

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
 
}
.searchPaginationContainer{
  margin: 10px 10px;
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.searchtext{
  font-size:12px;
  /* font-weight: 500; */
}
.searchbar{

}

.productsList{
  margin: 0px 10px 0px 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.PaginationContainer{
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}
/* product card css starts*/

.productcard{
  background-color: white;
  margin: 4px 0px;
  width: 500px;
  height:100px;
  font-size: 10px;
  display: flex;
  
}

.productcard-data{
  margin: 10px;
  width: 100%;
  height: 100%;

}
.productcard-line{
  display: flex;
  justify-content: space-between;
  padding: 3px 0px 3px 0px;
}

.button{
  width: 50px;
  height: 18px;
}
/* prodcuts card ends */


.productsTitle{
  margin: 5px;
  padding: 0px 10px;
}


/* homepage */

.homelayout{
  display: flex;
  justify-content: space-evenly;
}
.quote{
  display: flex;
  flex-direction: column;
}
.lineone{
  display: flex;
  font-size: 100px;
  font-weight: bold;
  height: 80px;
}
.lineone2{
  font-size: 50px;
  font-weight: 500;
  
}
.linetwo{
  font-size: 100px;
  font-weight: 400;
  height: 100px;
}
.linethree{
  font-size: 13px;
  font-weight: 300;
  padding: 0px 5px;
}
@media (prefers-reduced-motion: no-preference) {
  
}
